<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction DashBoard</title>
</head>
<body>
    <h3>Transaction Details:</h3>
    <ul>
        <li><%= transaction.id %></li>
        <li><%= transaction.title %></li>
        <li><%= transaction.price %></li>
        <li><%= transaction.description %></li>
        <li><%= transaction.category %></li>
        <li><%= transaction.image %></li>
        <li><%= transaction.sold %></li>
        <li><%= transaction.dateOfSold %></li>

        

    </ul>
    
</body>
</html>